name: backend-native.yml
on:
  push:
    tags:
      - "v*.*"
      - "v*.*.*"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  maven-native:
    uses: ./.github/workflows/maven.yml
    permissions:
      contents: write
      security-events: write
      actions: read  
    with:
      maven-args: "-Pnative -Dquarkus.profile=docker"
      build-artifact-name: quarkus-app-native
      build-artifact-path: target/*-runner

  docker-native:
    needs: maven-native
    permissions:
      contents: read
      packages: write
      id-token: write
    uses: ./.github/workflows/docker.yml
    with:
      build-artifact-name: quarkus-app-native
      build-artifact-path: target
      docker-file-path: ./src/main/docker/Dockerfile.native
      container-image-title: Backend-Native
      image-name: ${{ github.repository }}-backend-native