name: backend.yml
on:
  push:
    branches: [ "main" ]
    paths-ignore: [ "**/*.md" ]
    tags:
      - "v*.*"
      - "v*.*.*"
  pull_request:
    branches: [ "main" ]
    paths-ignore: [ "**/*.md" ]
  workflow_dispatch:

permissions:
  contents: read


jobs:
  maven:
    uses: ./.github/workflows/maven.yml
    permissions:
      contents: write
      security-events: write
      actions: read   
    with:
      build-artifact-name: quarkus-app
      build-artifact-path: target/quarkus-app

  backend-docker:
    needs: maven
    permissions:
      contents: read
      packages: write
      id-token: write
    uses: ./.github/workflows/docker.yml
    with:
      build-artifact-name: quarkus-app
      build-artifact-path: target/quarkus-app
      docker-file-path: ./src/main/docker/Dockerfile.jvm
      container-image-title: backend
      image-name: ${{ github.repository }}-backend