name: Daily Image Cleanup
on:
  push:
    branches: [ "main" ]
    paths-ignore: [ "**/*.md" ]
    tags:
      - "v*.*"
      - "v*.*.*"
  workflow_dispatch:
permissions:
  contents: read
  packages: write
  # Write permissions to packages are required for the GHCR cleanup action
jobs:
  frontend-docker-cleanup:
    name: frontend docker image cleanup
    runs-on: ubuntu-latest
    steps:
      - uses: dataaxiom/ghcr-cleanup-action@v1
        with:
          packages: 'seatreservation-frontend'
          keep-n-untagged: 3
  
  backend-docker-cleanup:
    name: backend docker image cleanup
    runs-on: ubuntu-latest
    steps:
      - uses: dataaxiom/ghcr-cleanup-action@v1
        with:
          packages: 'seatreservation-backend'
          keep-n-untagged: 3