name: maven.yml
on:
  workflow_call:
    inputs:
      maven-args:
        description: "Additional Maven arguments to pass"
        required: false
        type: string
      build-artifact-name:
        description: "Name of the build artifact to download"
        required: true
        type: string
      build-artifact-path:
        description: "Path of the build artifact to download"
        required: true
        type: string

permissions:
  contents: read

jobs:
  maven:
    name: Maven Build & Test
    permissions:
      contents: write    
      security-events: write
      actions: read
    runs-on: ubuntu-24.04
    timeout-minutes: 30

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Generate keys for JWT tests
        run: |
          mkdir keys
          openssl genpkey -algorithm RSA -out keys/privateKey.pem -pkeyopt rsa_keygen_bits:2048 && openssl rsa -pubout -in keys/privateKey.pem -out keys/publicKey.pem

      - name: Set up Maven Cache
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21

      - name: Run Spotless Check
        run: ./mvnw -B spotless:check

      - name: Run License Check
        run: ./mvnw -B license:check-file-header

      - name: Build & Test Backend
        run: ./mvnw -B ${{ inputs.maven-args }} package

      - name: Update dependency graph
        if: github.repository == 'FelixHertweck/seatReservation' && github.event_name == 'push' && github.ref_name == 'main'
        uses: advanced-security/maven-dependency-submission-action@v5

      - name: Upload Backend Artifact
        uses: actions/upload-artifact@v5
        with:
          name: ${{ inputs.build-artifact-name }}
          path: ${{ inputs.build-artifact-path }}
          retention-days: 4

      - name: Upload OpenAPI schema
        uses: actions/upload-artifact@v5
        with:
          name: openapi-schema
          path: |
            target/openapi
        
      - name: Upload Jacoco report
        uses: actions/upload-artifact@v5
        with:
          name: jacoco-report
          path: |
            target/jacoco-report